.Header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.giphy-embed {
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  height: 90%;
  border: none;
}
.StarWarsLogoHeader {
  height: 90%;
}
.LoginBox {
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  align-items: center;
  justify-content: space-around;
}
.Login {
  position: relative;
  color: rgb(160, 160, 160);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-family: 'Ubuntu Mono', monospace;
  border-left: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);
  cursor: pointer;
}

.Login:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -8px;
  left: 0;
  background: radial-gradient(ellipse, #4efcea, #2980B9, #4efcea);
  visibility: hidden;
  border-radius: 60%;
  transform: scaleX(0);
  transition: .15s linear;
}
.Login:hover:before,
.Login:focus:before {
  visibility: visible;
  transform: scaleX(1);
}