.Cargando {
  color:rgb(160, 160, 160);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;  
}
.StarshipListBase {
  margin: auto;
  margin-top: 50px;
  width: 70%;
}
.StarshipList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  text-align: left;
  text-indent: 20px; 
  cursor: pointer;
}
.StarshipName {
  color:rgb(160, 160, 160);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 28px;
  margin-bottom: 5px;
}
.StarshipModel {
  color: rgb(160, 160, 160);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 22px;
}
.Final {
  color: rgb(233, 235, 66);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 50px;
}